<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
</head>
<body>
    <h1>Formulario para crear</h1>

    <form action="/ejemplo/guardar" method="POST">
        <p>
            <label>Nombre</label><br />
            <input type="text" name="nombre" />
        </p>
        <p>
            <label>Apellido</label><br />
            <input type="text" name="apellido" />
        </p>
        <p>
            <label>Comentario</label><br />
            <textarea cols="50" rows="5" name="comentario"></textarea>
        </p>
        <a href="/ejemplo">Cancelar</a>
        <button type="submit">Guardar</button>
    </form>

</body>
</html>