<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Ejemplo</title>
</head>
<body>
    <h1>Pagina de ejemplo</h1>

    <a href="/ejemplo/crear">Crear Usuario</a>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <td>Lorena</td>
            <td>Dias</td>
            <td><a href="/ejemplo/ver/lorena">Ver</a></td>
        </tr>
        <tr>
            <td>Juan</td>
            <td>Perez</td>
            <td><a href="/ejemplo/ver/juan">Ver</a></td>
        </tr>
    </table>

    <a href="/">Volver</a>
</body>
</html>